/* ---- CSS Reset ---- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------------- */
/*       FONTS       */
/* ----------------- */
@font-face {
    font-family: Agrandir Grand-Heavy;
    src: url(/UX_UI_HW_17/fonts/Agrandir-GrandHeavy.woff);
}
@font-face {
    font-family: Agrandir Grand-Light;
    src: url(/UX_UI_HW_17/fonts/Agrandir-GrandLight.woff);
}

h1 {
    font-family: "Agrandir Grand-Heavy", Helvetica, sans-serif;
    font-size: 6em;
    margin: auto;
}
h2 {
    font-family: 'Agrandir Grand-Light', Helvetica, sans-serif;
    font-weight: 200;
    font-size: 78px;
    margin: auto;
}
h3 {
    font-family: 'Agrandir Grand-Heavy', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 36px;
}
h4 {
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 400;
    font-size: 36px;
}
p {
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

/* -------------------- */
/*        HEADER        */
/* -------------------- */
.header {
    min-height: 60px;
    padding: 20px;
}

.nav {
    max-width: 75%;
    display: flex;
    margin: 0 auto;
    align-items: center;
}
.nav-links {
    text-decoration: none;
    color: black;
    font-family: 'Poppins', Arial, sans-serif;
}
.nav-items {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 26px;
}
.fa-brands.fa-linkedin-in {
    background: black;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: white;
}


/* ------------------------- */
/*       HERO SECTION        */
/* ------------------------- */
.hero {
    margin-right: auto;
    margin-left: auto;
}
/* .content {
    display: flex;
    justify-content: center;
} */
.intro {
    display: flex;
    justify-content: center;
    width: 75%;
    height: 75%;
    background-color: #F9C373;
}

/* ------------------ */
/*       FOOTER       */
/* ------------------ */
footer {
    background-color: #B5C995;
    padding: 32px;
}
form {
    column-count: 2;
}
label {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 14px;
}
input[type=submit] {
    background-color: #363666;
    border: none;
    border-radius: 5px;

    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    color: #FFFEF4;

    padding: 15px 30px;
    text-decoration: none;
    margin: 8px 4px;
}
.social a {
    margin: 8px;
}